{% extends 'base.html' %}

{% block content%}

 <!-- Page Title -->
    <div class="section section-breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ current_user.username | capitalize }} Profile</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
        <div class="container">
        <div class="row">
          <!-- Team Member -->
          <div class="col-md-4 col-sm-6">
            <div class="team-member">
              <!-- Team Member Photo -->
              {# <div class="team-member-image"><img src="{{ url_for('static', filename='img/team1.jpg') }}" alt="Name Surname"></div> #}
              <div class="team-member-image"><img src="{{ user.gravatar(200) }}" alt="Name Surname"></div>
              <div class="team-member-info">
                <ul>
                  <!-- Team Member Info & Social Links -->
                </ul>
              </div>
            </div>
          </div>
          <!-- End Team Member -->
          <div class="col-sm-6 product-details">
            <form action="" method="post"  class="form" role="form">
                {{ form.csrf_token }}
                <div class="form-group {% if form.first_name.errors %} has-error {% endif %} ">
                  <label for="{{ form.first_name.id }}"><i class="icon-user"></i> <b>First Name</b></label>
                  {{ form.first_name(class_="form-control") }}
                  {% if form.first_name.errors %}
                    <span class="help-block">{{ form.first_name.errors[0] }}</span>
                  {% endif %}
                </div>
                <div class="form-group {% if form.last_name.errors %} has-error {% endif %} ">
                  <label for="{{ form.last_name.id }}"><i class="icon-user"></i> <b>Last Name</b></label>
                  {{ form.last_name(class_="form-control") }}
                  {% if form.last_name.errors %}
                    <span class="help-block">{{ form.last_name.errors[0] }}</span>
                  {% endif %}
                </div>
                <div class="form-group {% if form.location.errors %} has-error {% endif %} ">
                  <label for="{{ form.location.id }}"><i class="icon-user"></i> <b>Location Name</b></label>
                  {{ form.location(class_="form-control") }}
                  {% if form.location.errors %}
                    <span class="help-block">{{ form.location.errors[0] }}</span>
                  {% endif %}
                </div>
                <div class="form-group {% if form.bio.errors %} has-error {% endif %} ">
                  <label for="{{ form.bio.id }}"><i class="icon-user"></i> <b>Bio</b></label>
                  {{ form.bio(class_="form-control") }}
                  {% if form.bio.errors %}
                    <span class="help-block">{{ form.bio.errors[0] }}</span>
                  {% endif %}
                </div>
                <button type="submit" class="btn pull-right">Submit</button>
                  <div class="clearfix"></div>
              </form>
          </div>
        </div>
      </div>
    </div>

{% endblock content%}