{% extends 'base.html' %}

{% block content%}

 <!-- Page Title -->
    <div class="section section-breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ current_user.username | capitalize }} Profile</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{message}}
        </div>
      {% endfor %}
    </div>
    <div class="section">
        <div class="container">
        <div class="row">
          <!-- Team Member -->
          <div class="col-md-4 col-sm-6">
            <div class="team-member">
              <!-- Team Member Photo -->
              {# <div class="team-member-image"><img src="{{ url_for('static', filename='img/team1.jpg') }}" alt="Name Surname"></div> #}
              <div class="team-member-image"><img src="{{ user.gravatar(200) }}" alt="Name Surname"></div>
              <div class="team-member-info">
                <ul>
                  <!-- Team Member Info & Social Links -->
                </ul>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-sm-6 product-details">
              <h4>{{current_user.first_name}} {{current_user.last_name}}</h4>
            <h5>{{current_user.location}}</h5>
              <p>
                {{current_user.bio}}
              </p>
              <a href="{{ url_for('profile.edit')}}" class="btn btn"><i class="icon-shopping-cart icon-white"></i> Update Profile</a>
            </div>
        </div>
      </div>
    </div>

{% endblock content%}