{% extends 'demo/base.html' %}

{% block content%}

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Phil's Projects</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Datametrics</h2>
						<p>Datametrics is work in progress project, that gathers interesting data from the web and does analysis on them so as to relay important insights to the civic. What Datametrics tries to achieve is to bring the power to the civic by putting at their disposal insights from analysed data that they could not access easily.</p>
						<p>Currently Datametrics is automatically pulling data from social media websites (specifically twitter) for data crunching and communicating through beautiful visualizatinons and easy to understand summary tables</p>
						<h3>Technologies Used</h3>
						<dl>
							<dt>Web Framework/Backend</dt>
							<dd>Datametrics being a web app, Python Flask micro-framework is used to build the back-end</dd>
							<dt>Database</dt>
							<dd>Datametrics uses a relationship PostgreSQL database with sqlalchemy as the ORM</dd>
							<dt>Front-end/Client</dt>
							<dd>The front-end of datametrics is build mainly using Bootstrap 3</dd>
							<dt>Background Task & Automation</dt>
							<dd>Celery is used to run backround tasks, RabbitMQ acting as the queue broker</dd>
							<dt>Deployment</dt>
							<dd>Datametrics runs from cloud (hosted on Linode).Its uses Nginx as the reverse proxy and Gunicorn as the WSGI HTTP Server</dd>
						</dl>

						<h5>Technologies Used</h5>
						<dl class="dl-horizontal">
							<dt>Demo Link: </dt>
							<dd><a href="http://datametrics.co.ke" target="_blank">http://datametrics.co.ke</a></dd>
							<dt>Repository Link: </dt>
							<dd><a href="https://bitbucket.org/Samoei/datametrics20" target="_blank">https://bitbucket.org/Samoei/datametrics20</a></dd>
						</dl>

					</div>
				</div>
			</div>
		</div>

{% endblock content%}