{% extends 'demo/base.html' %}

{% block content%}

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Phil's Skills</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Python</h2>
						<p>Python is the main language that i use for my day to day projects. Python is my prefered language because of its productivity. With great frameworks like <a href="https://www.djangoproject.com/" target="_blank">Django</a> and <a href="http://flask.pocoo.org/" target="_blank">Flask</a> am always inclined to go with Python because of the turn around time it takes for me to deliver and meet my timelines. Did i tell you that i have been playing with <a href="https://scrapy.org/" target="_blank">Scrapy</a>, a very versatile and robust scraping python framework</p>
						<div class="progress">
						  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
						    <strong>8/10</strong>
						  </div>
						</div>

						<h2>PHP</h2>
						<p>This is my alternative language if python is not suited for the project at hand. When it comes to blogging i believe no one can compete with <a href="https://wordpress.org/" target="_blank">wordpress</a> and so eveytime i need a blogging app, PHP (Wordpress) is my to go to language. I also do have a hands on expereience with Laravel and CodeIgniter PHP frameworks</p>

						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
						    <strong>6.5/10</strong>
						  </div>
						</div>

						<h2>Javascript</h2>
						<p>Javascript is the language of the web and i firmly believe that if you call youself a web developer Javascript should be one of your strongest skills. That being said personally when i was starting out i tried as much as possible to avoid Javascript because i could not wrap my head around its syntax. That was short lived because as i continued to mature in the industry i realized that there is no way i could do without Javascript, because everytime am building a web app Javascript is always featured predominantly</p>

						<div class="progress">
						  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
						    <strong>7/10</strong>
						  </div>
						</div>

						<h2>Angular JS</h2>
						<p>As the saying goes <q>AngularJS is what HTML would have been, had it been designed for building web-apps</q> Angular JS is what introduced me to the world of MEAN stack, a collection of Javascript technologies consisting of MongoDB (Not really JS in nature) for Database, Express JS and the web server, Angular JS for the frontend and Node JS for the backend. Although i was very excited when i learned these technologies, truth be told i dont use them on production projects. </p>

						<div class="progress">
						  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
						    <strong>4.5/10</strong>
						  </div>
						</div>

						<h2>React JS</h2>
						<p>I onced read somewhere that your are either a react guy (Facebook) or Angular guy (Google) and you can not be either, i really dont know how true that is but one thing is for sure with the attention React has getting lately its definitely on my bucket list. I do not have hands on expereince with React and so i will not pretend am skilled on it. That being said its a javascript library and becasue am good in Javascript picking it up will not be something to sweat about</p>
						<div class="progress">
						  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
						    <strong>1/10</strong>
						  </div>
						</div>

						<h2>jQuery</h2>
						<p>JQuery is my favourite Javascript library. When i first learned how to dynamically change page links to show which is the active link (yeah i know its basic), i felt like a rockstart programmer. Then came AJAX, which blew my mind away. Sincerely speaking to me JQuery is what motivated me to learn more of Javascript.</p>

						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
						    <strong>7/10</strong>
						  </div>
						</div>

						<h2>HTML & CSS</h2>
						<p>I will combine HTML and CSS because after HTML5 was standardized CSS became the default CSS styling for HTML pages according to the World Wide Web Consortium (W3C). I truly believe HTML and CSS is the foundation of the Web in which other technologies build upon. Am totaly comfortable with writing pure HTML and CSS without the aid of Code Generators or Drag and Drop interfaces (which am not fun of because of difficulties in debugging incase of a misplaced HTML tag or CSS element)</p>

						<div class="progress">
						  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
						    <strong>9/10</strong>
						  </div>
						</div>

						<h2>JAVA for Android</h2>
						<p>Java is the main language we currently use at my place of work. We currently use Java for building Enterprise applications and Android Apps. Specifically i did play a key role in Developing Mobile Sacco, an Android App that integrates with our Core Sacco system to enable Sacco customers to conduct self service transactions like Checking AC balance, Applying for Loans, Etc. That being said i have not been actively developing android apps for the past year</p>

						<div class="progress">
						  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
						    <strong>6.5/10</strong>
						  </div>
						</div>
						<br>
						<h3>Other Technologies that am good at</h3>

						<h2>D3 JS, Crossfilter, DC JS & GeoJson</h2>
						<p>These are javascript technolgies which i used to build visualizations and dashboards for data science and data journalism projects</p>

						<div class="progress">
						  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
						    <strong>7/10</strong>
						  </div>
						</div>

						<h2>Relational & NoSQL Databases</h2>
						<p>PostgreSQL has been the main database that i use for most of the projcts that i have been involved. I love PostgreSQL because of the standards it establishes when it come to SQL. I do also have a working experience with SQL server because of the financial institutions we have worked with. These institutions are always encouraged to use a database that has enterprise support like Oracle or Microsoft SQL server. Am also experienced in using NoSql databases and specifically Mongo DB</p>

						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
						    <strong>8/10</strong>
						  </div>
						</div>

						<h2>Web Applications Deployment and Server Maintenance</h2>
						<p>Currently in the IT sector you have to be very versatile and wear different hats according to the prevailing circumstances. The fact that am currently the Lead at my current place of work, deployments often is my reponsibilty. I have hands on expereience in deploying and maintaning Java Applications, Python Applications and PHP applications on Linux servers</p>

						<div class="progress">
						  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
						    <strong>7/10</strong>
						  </div>
						</div>


					</div>
				</div>
			</div>
		</div>

{% endblock content%}