{% extends 'base.html' %}
{% import  "bootstrap/wtf.html" as wtf %}

{% block content%}


<!-- Page Title -->
    <div class="section section-breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Login</h1>
          </div>
        </div>
      </div>
    </div>

        <div class="section">
        <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="basic-login">

            {% for message in get_flashed_messages() %}
              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{message}}
              </div>
            {% endfor %}
            <form action="" method="post"  class="form" role="form">
                {{ form.csrf_token }}
                <div class="form-group {% if form.email.errors %} has-error {% endif %} ">
                  <label for="{{ form.email.id }}"><i class="icon-user"></i> <b>Email</b></label>
                  {{ form.email(class_="form-control") }}
                  {% if form.email.errors %}
                    <span class="help-block">{{ form.email.errors[0] }}</span>
                  {% endif %}
                </div>
                <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                      <label for="{{ form.password.id }}"><i class="icon-lock"></i> <b>Password</b></label>
                  {{ form.password(class_="form-control") }}
                  {% if form.password.errors %}
                    <span class="help-block">{{ form.password.errors[0] }}</span>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label class="checkbox">
                    <input type="checkbox"> Remember me
                  </label>
                  <a href="page-password-reset.html" class="forgot-password">Forgot password?</a>
                  <button type="submit" class="btn pull-right">Login</button>
                  <div class="clearfix"></div>
                </div>
              </form>


            </div>
          </div>
          <div class="col-sm-7 social-login">
            <p>Or login with your Facebook or Twitter</p>
            <div class="social-login-buttons">
              <a href="#" class="btn-facebook-login">Login with Facebook</a>
              <a href="#" class="btn-twitter-login">Login with Twitter</a>
            </div>
            <div class="clearfix"></div>
            <div class="not-member">
              <p>Not a member? <a href="page-register.html">Register here</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock content%}