<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Data Metrics! | Twitter Metrics</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='metrics/vendors/bootstrap/ver/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ url_for('static', filename='metrics/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ url_for('static', filename='metrics/vendors/nprogress/nprogress.css') }}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ url_for('static', filename='metrics/custom/css/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='metrics/custom/css/snippets.css') }}" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.css" rel="stylesheet">



  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Data Metrics!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->

            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Twitter</h3>
                <ul class="nav side-menu">
                	<li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ url_for('dashboard.scheduled_tweet') }}">Twitter Dashboard</a></li>
                    </ul>
                  </li>


                </ul>
              </div>
              <div class="menu_section">
                <h3>Facebook</h3>
                <ul class="nav side-menu">

                </ul>
              </div>

              <div class="menu_section">
                <h3>Real Estate</h3>
                <ul class="nav side-menu">

                </ul>
              </div>


            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->

            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            {% block content%}

            {% endblock content%}
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Data Metrics 2016 By <a href="https://colorlib.com">Samphil Technologies</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='metrics/vendors/jquery/ver/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='metrics/vendors/bootstrap/ver/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ url_for('static', filename='metrics/vendors/fastclick/ver/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ url_for('static', filename='metrics/vendors/nprogress/nprogress.js') }}"></script>

    {{ moment.include_moment() }}
    <!-- Custom Theme Scripts -->

    {% block scripts %}

    {% endblock scripts %}

    <script src="{{ url_for('static', filename='metrics/custom/js/snippets.js')}}"></script>
    <script src="{{ url_for('static', filename='metrics/custom/js/custom.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="{{ url_for('static', filename='metrics/custom/js/queue.js')}}"></script>
    <script src="{{ url_for('static', filename='metrics/custom/js/graph.js')}}"></script>
  </body>
</html>
