{% extends "metrics/base.html" %}

{% block content %}

  <div class="page-title">
    <div class="title_left">
      <h3>Data Metrics Twitter Dashboard</h3>
    </div>
  </div>
  <div class="clearfix"></div>

<div class="row">

  <div class="col-md-6 col-sm-6 col-xs-12">


                <div class="x_panel">
                  <div class="x_title">
                    <h2>Top 5 Trends in Kenya <small>as of 43 minutes ago</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                  <div class="panel panel-success">
                      <div class="panel-body">
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Trend</th>
                                  <th>Started</th>
                                  <th>Pos</th>
                                  <th>Prev Pos</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for trend in top_trends %}
                                  <tr>
                                  <th scope="row"><a href="{{url_for('metrics.twitter_trend', id=trend.id, order='latest')}}">{{trend.name}}</a></th>
                                  <td>{{ moment(trend.started).fromNow(refresh=True) }}</td>
                                  <td>{{trend.position}}</td>
                                  <td>{{trend.prev_position}}</td>
                                </tr>
                                {% endfor %}


                              </tbody>
                            </table>
                          </div>
                      </div>
                      <div class="panel-footer">
                        <a href="{{ url_for('metrics.twitter_trends') }}" class="btn btn-primary">View All</a>
                      </div>
                  </div>
                  </div>
                </div>
  </div>



  <div class="col-md-3 col-sm-12 col-xs-12">
    <div>
      <div class="x_title">
        <h2>Top Profiles on Twitter</h2>
        <div class="clearfix"></div>
      </div>
      <ul class="list-unstyled top_profiles scroll-view">

      {% for twitter_user in top_users %}
        <li class="media event">
          <a href="javascript:;" class="pull-left">
                    <img src="{{twitter_user.profile_img_url}}" alt="" width="60" height="60">
                  </a>
          <div class="media-body">
            <a class="title" href="#">{{twitter_user.name}}</a>
            <p><strong>{{twitter_user.followers_count}} </strong> Followers </p>
            <p><strong>{{twitter_user.status_count}} </strong> Tweets </p>
          </div>
        </li>
      {% endfor %}


      </ul>
    </div>
  </div>

  <div class="col-md-3 col-sm-12 col-xs-12">
    <div>
      <div class="x_title">
        <h2>Top Brands on Twitter</h2>
        <div class="clearfix"></div>
      </div>
      <ul class="list-unstyled top_profiles scroll-view">
        <li class="media event">
          <a class="pull-left border-aero profile_thumb">
            <i class="fa fa-user aero"></i>
          </a>
          <div class="media-body">
            <a class="title" href="#">Ms. Mary Jane</a>
            <p><strong>$2300. </strong> Agent Avarage Sales </p>
            <p> <small>12 Sales Today</small>
            </p>
          </div>
        </li>
        <li class="media event">
          <a class="pull-left border-green profile_thumb">
            <i class="fa fa-user green"></i>
          </a>
          <div class="media-body">
            <a class="title" href="#">Ms. Mary Jane</a>
            <p><strong>$2300. </strong> Agent Avarage Sales </p>
            <p> <small>12 Sales Today</small>
            </p>
          </div>
        </li>
        <li class="media event">
          <a class="pull-left border-blue profile_thumb">
            <i class="fa fa-user blue"></i>
          </a>
          <div class="media-body">
            <a class="title" href="#">Ms. Mary Jane</a>
            <p><strong>$2300. </strong> Agent Avarage Sales </p>
            <p> <small>12 Sales Today</small>
            </p>
          </div>
        </li>
        <li class="media event">
          <a class="pull-left border-aero profile_thumb">
            <i class="fa fa-user aero"></i>
          </a>
          <div class="media-body">
            <a class="title" href="#">Ms. Mary Jane</a>
            <p><strong>$2300. </strong> Agent Avarage Sales </p>
            <p> <small>12 Sales Today</small>
            </p>
          </div>
        </li>
        <li class="media event">
          <a class="pull-left border-green profile_thumb">
            <i class="fa fa-user green"></i>
          </a>
          <div class="media-body">
            <a class="title" href="#">Ms. Mary Jane</a>
            <p><strong>$2300. </strong> Agent Avarage Sales </p>
            <p> <small>12 Sales Today</small>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>


{% endblock content %}