{% extends "metrics/base.html" %}
{% block content %}

{{js_resources|indent(4)|safe}}
{{css_resources|indent(4)|safe}}

<div class="page-title">
  <div class="title_left">
    <h3>Stats for {{top_trend.name}}</h3>
  </div>
</div>

<div class="clearfix"></div>
<div class="row tile_count">
      <div class="row top_tiles">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-wechat"></i></div>
                  <div class="count">{{total_tweets}}</div>
                  <h3>Total Tweets</h3>
                  <p>Counting only the original tweets</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-users"></i></div>
                  <div class="count">{{total_users}}</div>
                  <h3>Totals Users</h3>
                  <p>Users who tweeted the original tweet</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                  <div class="count">4,373</div>
                  <h3>Total Reach</h3>
                  <p>How many people have seen this trend</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-check-square-o"></i></div>
                  <div class="count">179</div>
                  <h3>Total Impressions</h3>
                  <p>People who have interacted with the trend</p>
                </div>
              </div>
            </div>
            </div>
            <div class="clearfix"></div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
      {% if  order== 'retweets' %}
        <h2>Most Retweeted <small>Original tweets that were retweeted</small></h2>
      {% endif %}
      {% if  order== 'likes' %}
        <h2>Most Liked <small>Original tweets that were liked</small></h2>
      {% endif %}
      {% if  order== 'latest' %}
        <h2>Latest Tweets <small>Showing original tweets only</small></h2>
      {% endif %}
        <div class="panel_toolbox pull-right">
        {% if order== 'retweets' %}
          <a href="{{url_for('metrics.twitter_trend', id=top_trend.id, order='likes')}}" type="button" class="btn btn-primary btn-round btn-xs">By Most Liked</a>
          <a href="{{url_for('metrics.twitter_trend', id=top_trend.id, order='latest')}}" type="button" class="btn btn-success btn-round btn-xs">Show Latest</a>
        {% endif %}
        {% if order== 'likes' %}
          <a href="{{url_for('metrics.twitter_trend', id=top_trend.id, order='latest')}}" type="button" class="btn btn-success btn-round btn-xs">Show Latest</a>
          <a href="{{url_for('metrics.twitter_trend', id=top_trend.id, order='retweets')}}" type="button" class="btn btn-info btn-round btn-xs">By Most Retweets</a>
        {% endif %}
        {% if order== 'latest' %}
          <a href="{{url_for('metrics.twitter_trend', id=top_trend.id, order='likes')}}" type="button" class="btn btn-primary btn-round btn-xs">By Most Liked</a>
        <a href="{{url_for('metrics.twitter_trend', id=top_trend.id, order='retweets')}}" type="button" class="btn btn-info btn-round btn-xs">By Most Retweets</a>
        {% endif %}
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% for trend in top_tweets %}
            <div class="panel panel-default panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">View on Twitter</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Retweet</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Follow</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Report Issue</a></li>
                    </ul>
                </div>
                <div class="panel-heading">
                    <img class="img-circle pull-left" src="{{trend.profile_img_url}}" width="45" height="45" />
                    <h3>{{trend.user_name}}</h3>
                    <h5><span>@{{trend.tweeted_by}}</span> - <span>{{ moment(trend.tweeted_at).fromNow(refresh=True) }}</span> </h5>
                </div>
                <div class="panel-body">
                    {{trend.text}}
                </div>
                <div class="panel-footer">
                  <i class="fa fa-retweet"></i> {{trend.retweet_count}} &nbsp;|&nbsp; <i class="fa fa-heart"></i> {{trend.favourite_count}}
                </div>
            </div>
          {% endfor %}
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
  <div class="x_panel">
                <div class="x_title">
                  <h2>Sources of tweets Analysis</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
<div class="col-md-12 col-sm-12 col-xs-12">
                {{script|indent(4)|safe}}
                {{div|indent(4)|safe}}
</div>

                </div>
              </div>
  </div>
</div>


{% endblock content %}
