{% extends "metrics/base.html" %}

{% block content %}

<div class="page-title">
  <div class="title_left">
    <h3>Plain Page</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Header Page</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
		<p class="text-muted font-13 m-b-30">
		Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
		</p>
		<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Screen Name</th>
					<th>Followers</th>
					<th>Following</th>
					<th>Tweets</th>
					<th>Favourites</th>
					<th>Location</th>
					<th>Verified</th>
					<th>Joined Twitter</th>
					<th>Tracked From</th>
				</tr>
			</thead>
			<tbody>
				{% for twitter_user in twitter_users %}
					<tr>
						<td>{{twitter_user.name}}</td>
						<td>{{twitter_user.screen_name}}</td>
						<td>{{twitter_user.followers_count}}</td>
						<td>{{twitter_user.friends_count}}</td>
						<td>{{twitter_user.status_count}}</td>
						<td>{{twitter_user.favourites_count}}</td>
						<td>{{twitter_user.location}}</td>
						{% if twitter_user.verified %}
							<td><span class="label label-primary">Verified</span></td>
							{% else %}
							<td></td>
						{% endif %}
						<td>{{ moment(twitter_user.created_at).fromNow(refresh=True) }}</td>
						<td>{{ moment(twitter_user.tracking_start).fromNow(refresh=True) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
      </div>
    </div>
  </div>
</div>


{% endblock content %}