{% extends "metrics/base.html" %}

{% block content %}
	<!-- END PAGE TITLE-->
	<div class="page-title">
	  <div class="title_left">
	    <h3>Twitter Dashboard</h3>
	  </div>
	</div>
	<div class="clearfix"></div>
	<!-- END PAGE TITLE-->



	<div class="row">

<!-- START OF TREND-->
		<div class="col-md-5 col-sm-5 col-xs-12">
		  <div class="x_panel">
		    <div class="x_title">
		      <h2>Currently Trending in Kenya <small>Refreshed 20 Mins ago</small></h2>
		      <div class="clearfix"></div>
		    </div>
		    <div class="x_content">

			<div class="table-responsive">
			  <table class="table">
			    <thead>
			      <tr>
			        <th>Pos</th>
			        <th>Trend</th>
			        <th>Started</th>
			        <th>Prev Pos</th>
			      </tr>
			    </thead>
			    <tbody>
			      {% for trend in top_trends %}
			        <tr>
			        <td>{{trend.position}}</td>
			        <th scope="row"><a href="{{url_for('metrics.twitter_trend', id=trend.id)}}">{{trend.name}}</a></th>
			        <td>{{ moment(trend.started).fromNow(refresh=True) }}</td>
			        <td>{{trend.prev_position}}</td>
			      </tr>
			      {% endfor %}
			    </tbody>
			  </table>
			</div>

		    </div>
		  </div>
		  <div class="x_panel">
		    <div class="x_title">
		      <h2>Currently Trending in Kenya <small>Refreshed 20 Mins ago</small></h2>
		      <div class="clearfix"></div>
		    </div>
		    <div class="x_content">

			<div class="table-responsive">
			  <table class="table">
			    <thead>
			      <tr>
			        <th>Pos</th>
			        <th>Trend</th>
			        <th>Started</th>
			        <th>Prev Pos</th>
			      </tr>
			    </thead>
			    <tbody>
			      {% for trend in top_trends %}
			        <tr>
			        <td>{{trend.position}}</td>
			        <th scope="row"><a href="{{url_for('metrics.twitter_trend', id=trend.id)}}">{{trend.name}}</a></th>
			        <td>{{ moment(trend.started).fromNow(refresh=True) }}</td>
			        <td>{{trend.prev_position}}</td>
			      </tr>
			      {% endfor %}
			    </tbody>
			  </table>
			</div>

		    </div>
		  </div>
		</div>
	<!-- END OF TRENDS -->

	<div class="col-md-7 col-sm-7 col-xs-12">
	<div class="x_panel">
		    <div class="x_title">
		      <h2>Influencial Twitter Accounts In Kenya <small>Ranked by # of followers</small></h2>
		      <div class="clearfix"></div>
		    </div>
		    <div class="x_content">
	{% for twitter_user in top_users %}
		<div class="col-md-6 col-sm-6 col-xs-12 widget widget_tally_box">
		  <div class="x_panel fixed_height_390">
		    <div class="x_content">

		      <div class="flex">
		      <div class="row">
		      	<div class="tile-stats"><span class="count">{{loop.index}}</span></div>
		      </div>
		        <ul class="list-inline widget_profile_box">
		          <li>
		            <a>
		              <i class="fa fa-facebook"></i>
		            </a>
		          </li>
		          <li>
		            <img src="{{twitter_user.profile_img_url}}" alt="" class="img-circle profile_img">
		          </li>
		          <li>
		            <a>
		              <i class="fa fa-twitter"></i>
		            </a>
		          </li>
		        </ul>
		      </div>

		      <h3 class="name">{{twitter_user.name}}</h3>
			<p>
		        {{twitter_user.description}}
		      </p>
		      <div class="flex">
		        <ul class="list-inline count2">
		          <li>
		            <h4>{{twitter_user.followers_count}}</h4>
		            <span><strong>Followers</strong></span>
		          </li>
		          <li>
		            <h4>{{twitter_user.followers_count}}</h4>
		            <span><strong>Following</strong></span>
		          </li>
		          <li>
		            <h4>{{twitter_user.status_count}}</h4>
		            <span><strong>Tweets</strong></span>
		          </li>
		        </ul>
		      </div>
		    </div>
		  </div>
		</div>
	{% endfor %}
	</div>
	</div>






	</div>





{% endblock content %}