{% extends "metrics/base.html" %}
{% block content %}

<div class="page-title">
  <div class="title_left">
    <h3>Plain Page</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Header Page</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p class="text-muted font-13 m-b-30">
          Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
        </p>
        <div class="table-responsive">

        <table class="table table-striped ">
            <thead>
              <tr>
                <th>#</th>
                <th>Trend</th>
                <th>Started</th>
                <th>Prev Pos</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for trend in  top_trends %}
                <tr>
                  <td>{{trend.position}}</td>
                  <td>{{trend.name}}</td>
                  <td>{{ moment(trend.started).fromNow(refresh=True) }}</td>
                  <td>{{trend.prev_position}}</td>
                  <td>
                    {% if trend.prev_position %}
                          {% if  trend.position > trend.prev_position %}
                            <i class="fa fa-level-down"></i>
                          {% elif trend.position == trend.prev_position %}
                            <i class="fa fa-arrows-h"></i>
                          {% else %}
                            <i class="fa fa-level-up"></i>
                          {% endif %}
                    {% else %}
                        <i class="fa fa-level-up"></i>
                    {% endif %}

                  </td>
                  <td>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
