{% extends "metrics/base.html" %}

{% block content %}

<div class="page-title">
  <div class="title_left">
    <h3>Sentiment Analysis</h3>
  </div>


</div>


<div class="clearfix"></div>

<div class="row">
 <p>We have embarked to on a mission to try and unserstand what is the mood of the KOT (Kenyans on Twitter) with regards to the two protagonist of the oncoming general elections in Kenya. Below are our findings</p>
</div>

<div class="row">


  <div class="col-md-6 col-sm-12 col-xs-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>General Mood of KOT</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
        <p>With regards to the Uhuru and Raila Search Terms</p>
      </div>
      <div class="x_content">
      <div id="polarity-row-chart"></div>
      </div>
    </div>
  </div>


  <div class="col-md-6 col-sm-12 col-xs-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>Popularity<small>Percentage of total tweets collected</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
      <div id="popularity-ring-chart"></div>
      </div>
    </div>
  </div>


</div>


{% endblock content %}