{% extends 'base.html' %}

{% block content%}

      <!-- Page Title -->
    <div class="section section-breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="pull-left">The Latest from our blog</h1>
            {% if  current_user.is_authenticated %}
              <a href="{{url_for('blog.new_post')}}" class="btn btn-small pull-right">New Post</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

      <!-- Posts List -->
        <div class="section blog-posts-wrapper">
        <div class="container">
        <div class="row">
          <!-- Post -->
          {% for post in posts %}
              <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                  <!-- Post Info -->
                  <div class="post-info">
                    <div class="post-date">
                      <div class="date">3 Days Ago</div>
                    </div>
                    <div class="post-comments-count">
                      <a href="page-blog-post-right-sidebar.html" title="Show Comments"><i class="glyphicon glyphicon-comment icon-white"></i>11</a>
                    </div>
                  </div>
                  <!-- End Post Info -->
                  <!-- Post Image -->
                  <a href="page-blog-post-right-sidebar.html"><img src="{{url_for('static', filename='uploads')}}/{{post.featured_image}}" class="post-image" alt="Post Title"></a>
                  <!-- End Post Image -->
                  <!-- Post Title & Summary -->
                  <div class="post-title">
                    <h3><a href="{{ url_for('blog.post', slug=post.slug) }}">{{post.title}}</a></h3>
                  </div>
                  <div class="post-summary">
                    <p>{{ post.body_html | safe | truncate(150) }}    </p>
                  </div>
                  <!-- End Post Title & Summary -->
                  <div class="post-more">
                    <a href="{{ url_for('blog.post', slug=post.slug) }}" class="btn btn-small">Read more</a>
                    {% if  current_user.is_authenticated %}
                      <a href="{{ url_for('blog.edit_post', slug=post.slug) }}" class="btn btn-small pull-left">Edit</a>
                    {% endif %}
                  </div>
                </div>
              </div>
          {% endfor %}



        </div>
      </div>
      </div>
      <!-- End Posts List -->

{% endblock content%}