{% extends 'base.html' %}

{% block content%}

      <div class="section">
        <div class="container">
            <div class="row">

              <div class="col-sm-7">
                <!-- Contact Form -->
            {% for message in get_flashed_messages() %}
              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{message}}
              </div>
            {% endfor %}
                <h3>Send Us a Message</h3>
                <div class="contact-form-wrapper">
                 <form action="" method="post"  class="form-horizontal" role="form">
                    {{ form.csrf_token }}
                      <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                        <label for="{{ form.name.id }}" class="col-sm-3 control-label"><b>{{ form.name.label }}</b></label>
                        <div class="col-sm-9">
                          {{ form.name(class_="form-control") }}
                            {% if form.name.errors %}
                            <span class="help-block">{{ form.name.errors[0] }}</span>
                          {% endif %}
                        </div>
                      </div>

                      <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                        <label for="{{ form.email.id }}" class="col-sm-3 control-label"><b>{{ form.email.label }}</b></label>
                        <div class="col-sm-9">
                          {{ form.email(class_="form-control") }}
                            {% if form.email.errors %}
                            <span class="help-block">{{ form.email.errors[0] }}</span>
                          {% endif %}
                        </div>
                      </div>

                      <div class="form-group {% if form.body.errors %} has-error {% endif %}">
                        <label for="{{ form.body.id }}" class="col-sm-3 control-label"><b>{{ form.body.label }}</b></label>
                        <div class="col-sm-9">
                          {{ form.body(class_="form-control", rows="10") }}
                            {% if form.body.errors %}
                            <span class="help-block">{{ form.body.errors[0] }}</span>
                          {% endif %}
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-12">
                          <button type="submit" class="btn pull-right">Send</button>
                        </div>
                      </div>

                </form>

                </div>
                <!-- End Contact Info -->
              </div>
              <div class="col-sm-5">
              <h3>Contacts</h3>
                        <p class="contact-us-details">
                            <b>Address:</b> 125382 30200 GPO, Nairobi, Kenya<br/>
                            <b>Phone:</b> +254 731 049 630<br/>
                            <b>Fax:</b> +254 731 049 630<br/>
                            <b>Email:</b> <a href="mailto:info@datametrics.com">info@datametrics.co.ke</a>
                        </p>
              </div>
            </div>
        </div>
      </div>

{% endblock content%}