{% extends 'base.html' %}

{% block content%}

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Frequently Asked Questions</h1>
					</div>
				</div>
			</div>
		</div>

        <div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 faq-wrapper">
						<div class="panel-group" id="accordion2">
							<h3>General Questions</h3>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
										How are influencers of a twitter trend/hashtag determined?
									</a>
								</div>
								<div id="collapse11" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="answer">Answer:</div>
										<p>Influencers of a twitter trend/hashtag is arrived at by factoring the number friends of every account (twitter user) that tweets about the trend/hashtag. The account that has the highest number of friends influencers the trend/hashtag most as it means many people (friends following this account) will and probaly get engaged with the trend</p>
									</div>
								</div>
							</div>
							</div>

							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
{% endblock content%}