{% extends 'base.html' %}

{% block content%}

  <!-- Homepage Slider -->
  <div class="homepage-slider">
    <div id="sequence">
      <ul class="sequence-canvas">
        <!-- Slide 1 -->
        <li class="bg4">
          <!-- Slide Title -->
          <h2 class="title">Data to Info to Insight</h2>
          <!-- Slide Text -->
          <h3 class="subtitle">
          <blockquote>
            <p>The goal is to turn data into information, and information into insight.</p>
            <footer>Carly Fiorina <cite>Former president of HP</cite></footer>
          </blockquote>
            </h3>
          <!-- Slide Image -->
          <img class="slide-img" src="{{url_for('static', filename='img/homepage-slider/metrics3.png')}}" alt="Slide 1" />
        </li>
        <!-- End Slide 1 -->
        <!-- Slide 2 -->
        <li class="bg3">
          <!-- Slide Title -->
          <h2 class="title">Data Hold Answers</h2>
          <!-- Slide Text -->
          <h3 class="subtitle">
          <blockquote>
            <p>Without data you are just another person with an opinion</p>
            <footer>W. Edwards Deming</footer>
          </blockquote>
            </h3>
          <!-- Slide Image -->
          <img class="slide-img" src="{{url_for('static', filename='img/homepage-slider/metrics2.png')}}" alt="Slide 2" />
        </li>
        <!-- End Slide 2 -->
        <!-- Slide 3 -->
        <li class="bg1">
          <!-- Slide Title -->
          <h2 class="title">Data that drives action</h2>
          <!-- Slide Text -->
          <h3 class="subtitle">
          <blockquote>
            <p>In the end you should only measure and look at the numbers that drive action, meaning that the data tells you what you should do next</p>
            <footer>Alex Peiniger <cite title="Source Title">CEO, quintly</cite></footer>
          </blockquote>
            </h3>
          <!-- Slide Image -->
          <img class="slide-img" src="{{url_for('static', filename='img/homepage-slider/metrics1.png')}}" alt="Slide 3" /> -
        </li>
        <!-- End Slide 3 -->
      </ul>
    <div class="sequence-pagination-wrapper">
      <ul class="sequence-pagination">
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>
    </div>
  </div>
  <!-- End Homepage Slider -->


    <!-- Services -->
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                  <img src="{{url_for('static', filename='img/service-icon/diamond.png')}}" alt="Service 1">
                  <h3>Measure</h3>
                  <p>Get to know how your brand is performing on the social media. How many people are retweeting your post, what are the preferences of your followers. We ensure you discover hidden treasures in your social media data</p>
                  <!-- <a href="#" class="btn">Read more</a> -->
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                  <img src="{{url_for('static', filename='img/service-icon/ruler.png')}}" alt="Service 2">
                  <h3>Benchmark</h3>
                  <p>Compare your campaigns with your competitors, Where are you outdoing your competitor and where are you falling behind. With our competitor analysis tool we empower you to have a competitve advantage</p>
                  {# <a href="#" class="btn">Read more</a> #}
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                  <img src="{{url_for('static', filename='img/service-icon/box.png')}}" alt="Service 3">
                  <h3>Action</h3>
                  <p>Actionable insights sits at the apex of social media data. Cut through the social media noise and listen to hashtags and trends that matter to your brand. Get industry reports that will help you make informed decisions driven by data</p>
                  <!-- <a href="#" class="btn">Read more</a> -->
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- End Services -->


{% endblock content%}