{% extends 'base.html' %}

{% block content%}

        <!-- Page Title -->
    <div class="section section-breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Scheduled Tweets</h1>
          </div>
        </div>
      </div>
    </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="table-responsive">
        <h2>Scheduled Tweets to be tweeted</h2>
  <p>Tweets to be tweeted. Remember after tweeting change the status of the tweet by clicking update</p>
  <table class="table">
    <thead>
      <tr>
        <th><strong>Trend</strong></th>
        <th><strong>Tweet</strong></th>
        <th><strong>Generated</strong></th>
        <th><strong>Update</strong></th>
      </tr>
    </thead>
    <tbody>
    {% for tweet in tweets %}
      <tr>
        <td>{{tweet.trend.name}}</td>
        <td>{{tweet.tweet_text}}</td>
        <td>{{tweet.generated_on}}</td>
        {# <td><a href="#">Update</a></td> #}
        <td class="actions">
                  <a href="{{url_for('main.sheduled_tweet', id=tweet.id)}}" class="btn btn-sm btn-blue"><i class="glyphicon glyphicon-pencil"></i></a>
                </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
        </div>
      </div>


    <div class="row">
      <div class="table-responsive">
      <h2>Top Trending Hashtags to be tweeted</h2>
    <p>Trends to be tweeted. Remember after tweeting change the status of the tweet by clicking update</p>
      <table class="table">
      <thead>
      <tr>
        <th><strong>Tweet</strong></th>
        <th><strong>Generated</strong></th>
        <th><strong>Update</strong></th>
      </tr>
      </thead>
      <tbody>
      {% for tweet in top_trends %}
      <tr>
        <td>{{tweet.tweet_text}}</td>
        <td>{{tweet.generated_on}}</td>
        {# <td><a href="#">Update</a></td> #}
        <td class="actions">
                  <a href="{{url_for('main.sheduled_toptrending', id=tweet.id)}}" class="btn btn-sm btn-blue"><i class="glyphicon glyphicon-pencil"></i></a>
                </td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
      </div>
    </div>


    </div>
  </div>
{% endblock content%}