{% extends 'base.html' %}

{% block content%}

{{js_resources|indent(4)|safe}}
{{css_resources|indent(4)|safe}}

<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>{{trend.name}} <small>
				<strong> Started:  </strong>{{ moment(trend.started).fromNow(refresh=True) }} <strong> | </strong>
				<strong> Stopped at Position:  </strong>{{trend.position}} <strong> | </strong>
				{% if trend.prev_position %}
					<strong> Previous Position:  </strong>{{trend.prev_position}} <strong> | </strong>
				{% endif %}
				{% if trend.ended %}
					<strong> Ended:  </strong>{{ moment(trend.ended).fromNow(refresh=True) }} <strong> | </strong>
				{% endif %}
				</small>
				</h1>
			</div>
		</div>
	</div>
</div>

<!-- Widgets -->
<div class="section">
	<div class="container">
		<div class="row">
            <!-- ORIGINAL TWEETS-->
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="widget">
                <div class="widget-heading clearfix">
                  <div class="pull-left">Original Tweets</div>
                  {% if tweets_percentage > retweets_percentage %}
                  	<div class="pull-right"><i class="fa fa-angle-up"></i> {{ "{:,.2f}".format(tweets_percentage) }}<sup>%</sup></div>
                  	{% else %}
                  	<div class="pull-right"><i class="fa fa-angle-down"></i> {{ "{:,.2f}".format(tweets_percentage) }}<sup>%</sup></div>
                  {% endif %}

                </div>
                <div class="widget-body clearfix">
                  <div class="pull-left">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="pull-right number">{{ "{:,.0f}".format(trend.total_tweets) }}</div>
                </div>
              </div>
            </div>
            <!-- ORIGINAL TWEETS-->

            <!-- RETWEETS -->
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="widget">
                <div class="widget-heading clearfix">
                  <div class="pull-left">Retweets</div>
                  {% if  retweets_percentage > tweets_percentage %}
                  	<div class="pull-right"><i class="fa fa-angle-up"></i> {{ "{:,.2f}".format(retweets_percentage) }}<sup>%</sup></div>
                  	{% else %}
                  	<div class="pull-right"><i class="fa fa-angle-down"></i> {{ "{:,.2f}".format(retweets_percentage) }}<sup>%</sup></div>
                  {% endif %}

                </div>
                <div class="widget-body clearfix">
                  <div class="pull-left">
                    <i class="fa fa-retweet"></i>
                  </div>
                  <div class="pull-right number">{{ "{:,.0f}".format(trend.total_retweets) }}</div>
                </div>
              </div>
            </div>
            <!-- RETWEETS-->

            <!-- UNIQUE USERS -->
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="widget">
                <div class="widget-heading clearfix">
                  <div class="pull-left">Total Unique Users</div>
                  <!--<div class="pull-right"><i class="fa fa-angle-up"></i> 89.9<sup>%</sup></div>-->
                </div>
                <div class="widget-body clearfix">
                  <div class="pull-left">
                    <i class="fa fa-users clearfix"></i>
                  </div>
                  <div class="pull-right number clearfix">{{ "{:,.0f}".format(trend.total_users) }}</div>
                </div>
              </div>
            </div>
            <!-- UNIQUE USERS-->


          </div> <!-- /row -->
	</div><!-- /container -->
</div><!-- /section -->

<!-- Visualization -->
<div class="section">
	<div class="container">
		<div class="row">
            <!-- ORIGINAL TWEETS-->

            <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>App Usage for {{trend.name}}</h2>
            	{{apps_usage_script|indent(4)|safe}}
                {{apps_usage_div|indent(4)|safe}}
            </div>
            <!-- ORIGINAL TWEETS-->

            <!-- ORIGINAL TWEETS-->
            <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Tweets Vs Retweets for {{trend.name}}</h2>
            <div class="col-lg-6 col-md-6 col-sm-12">
            	{{pie_script|indent(4)|safe}}
                {{pie_div|indent(4)|safe}}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">

			<div class="panel panel-default">
			  <div class="panel-body">
			    <div class="progress">
			  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="{{ '{:,.0f}'.format(retweets_percentage) }}%" aria-valuemin="0" aria-valuemax="100" style="width: {{ '{:,.0f}'.format(retweets_percentage) }}%;">
			    Retweets: <strong>{{ '{:,.0f}'.format(retweets_percentage) }}%</strong>
			  </div>
			</div>
			<div class="progress">
			  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{ '{:,.0f}'.format(tweets_percentage) }}%" aria-valuemin="0" aria-valuemax="100" style="width: {{ '{:,.0f}'.format(tweets_percentage) }}%;">
			    Tweets: <strong>{{ '{:,.0f}'.format(tweets_percentage) }}%</strong>
			  </div>
			</div>
			  </div>
			</div>
            </div>


            </div>
            <!-- ORIGINAL TWEETS-->


          </div> <!-- /row -->
	</div><!-- /container -->
</div><!-- /section -->


<!-- TOP TWEETS & ACTIVE TWEEPS -->
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">

		{% for trend in top_tweets %}
			<div class="panel panel-default panel-google-plus">
			    <div class="dropdown">
			        <span class="dropdown-toggle" type="button" data-toggle="dropdown">
			            <span class="glyphicon glyphicon-chevron-down"></span>
			        </span>
			        <ul class="dropdown-menu" role="menu">
			            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">View on Twitter</a></li>
			            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Retweet</a></li>
			            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Follow</a></li>
			            <li role="presentation" class="divider"></li>
			            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Report Issue</a></li>
			        </ul>
			    </div>
			    <div class="panel-heading">
			        <img class="img-circle pull-left" src="{{trend.profile_img_url}}" width="45" height="45" />
			        <h3>{{trend.name}}</h3>
			        <h5>
			        	<span>@{{trend.handle}}</span> - <span>{{ moment(trend.tweeted_at).fromNow(refresh=True) }}</span>
			        </h5>
			    </div>
			    <div class="panel-body">
			        {{trend.text|safe}}
			    </div>
			    <div class="panel-footer">
			      <i class="fa fa-retweet"></i> {{trend.retweet_count}} &nbsp;|&nbsp; <i class="fa fa-heart"></i> {{trend.favourite_count}}
			    </div>
			</div>
          	{% endfor %}

			</div>


			<!-- MOST ACTIVE-->
			<div class="col-lg-8 col-md-8 col-sm-12">

            		<!-- <h2>{{trend.name}} Influencers <small><a href="{{url_for('main.faq')}}">Learn More...</a></small></h2>
            		--><h2>Most Active Tweeps<small> As of 2 mins ago</small></h2>
			<div class="col-lg-6 col-md-6 col-sm-12">

	    		<h4 class="label label-danger">By Retweets</h4>
            	<table class="table">
				<thead>
					<tr>
					<th>Tweep</th>
					<th>Tweets</th>
					<th>Retweets</th>
					</tr>
				</thead>
				<tbody>
					{% for item in users_retweets %}
						<tr>
						<td><strong>@{{item.screen_name}}</strong></td>

						{% if item.tweets %}
							<td>{{item.tweets}}</td>
						{% else %}
							<td>0</td>
						{% endif %}


						{% if item.retweets %}
							<td><span class="badge">{{item.retweets}}</span></td>
						{% else %}
							<td >0</td>
						{% endif %}

						</tr>
					{% endfor %}
				</tbody>
    				</table>


            	</div>
            	<div class="col-lg-6 col-md-6 col-sm-12">
            	<h4 class="label label-primary">By Original Tweets</h4>
            	<table class="table">
				<thead>
					<tr>
					<th>Tweep</th>
					<th>Tweets</th>
					<th>Retweets</th>
					</tr>
				</thead>
				<tbody>
					{% for item in users_tweets %}
						<tr>
						<td><strong>@{{item.screen_name}}</strong></td>

						{% if item.tweets %}
							<td><span class="badge">{{item.tweets}}</span></td>
						{% else %}
							<td>0</td>
						{% endif %}


						{% if item.retweets %}
							<td >{{item.retweets}}</td>
						{% else %}
							<td >0</td>
						{% endif %}

						</tr>
					{% endfor %}
				</tbody>
	    		</table>
	    		<hr>
            </div>

            </div>



		</div>
	</div>
</div>





{% endblock content%}