{% extends 'base.html' %}

{% block content%}

<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Twitter Dashboard</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="col-sm-8">
		<div class="row">
			<h2>Currently Trending in Kenya <small>  </small></h2>
			<div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Trend</th>
                                  <th>Started</th>
                                  <th>Pos</th>
                                  <th>Prev Pos</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for trend in top_trends %}
                                  <tr>
                                  <!-- <th scope="row"><a href="{{url_for('main.trend', id=trend.id, order='latest')}}">{{trend.name}}</a></th> -->
                                  <th scope="row">{{trend.name}}</th>
                                  <td>{{ moment(trend.started).fromNow(refresh=True) }}</td>
                                  <td>{{trend.position}}</td>
                                  {% if  trend.prev_position %}
                                  	<td>{{trend.prev_position}}</td>
                                  	{% else %}
                                  	<td>-*</td>
                                  {% endif %}

                                </tr>
                                {% endfor %}


                              </tbody>
                            </table>
                            <p>*Just started trending, has no previous position</p>
                          </div>
             </div>
             <div class="row">
             	<h2>Recently Trending in Kenya <small>  </small></h2>
			<div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Trend</th>
                                  <th>Started</th>
                                  <th>Ended</th>
                                  <th>Tweets</th>
                                  <th>Retweets</th>
                                  <th>Users</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for trend in recently_trending %}
                                  <tr>
                                  <th scope="row"><a href="{{url_for('main.trend_details', id=trend.id)}}">{{trend.name}}</a></th>
                                  <td>{{ moment(trend.started).fromNow(refresh=True) }}</td>
                                  <td>{{ moment(trend.ended).fromNow(refresh=True) }}</td>
                                  <td>{{trend.total_tweets}}</td>
                                  <td>{{trend.total_retweets}}</td>
                                  <td>{{trend.total_users}}</td>

                                </tr>
                                {% endfor %}


                              </tbody>
                            </table>
                          </div>
             </div>
		</div>
		<div class="col-sm-4">
			<h2>Top Profiles on Twitter <small>  </small></h2>
			{% for user in top_users %}

			<div class="twPc-div">
			    	<a class="twPc-bg twPc-block"></a>
				<div>
					<div class="twPc-button">
			            <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->
			            <a href="https://twitter.com/{{user.screen_name}}" target="_blank" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false" data-dnt="true">Follow @{{user.screen_name}}</a>
			            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			            <!-- Twitter Button -->
					</div>

					<a title="{{user.name}}" href="https://twitter.com/{{user.screen_name}}" class="twPc-avatarLink" target="_blank">
						<img alt="{{user.name}}" src="{{user.profile_img_url}}" class="twPc-avatarImg" width="73" height="73">
					</a>

					<div class="twPc-divUser">
						<div class="twPc-divName" target="_blank">
							<a href="https://twitter.com/{{user.screen_name}}">{{user.name}}</a>
						</div>
						<span>
							<a href="https://twitter.com/{{user.screen_name}}" target="_blank">@<span>{{user.screen_name}}</span></a>
						</span>
					</div>

					<div class="twPc-divStats">
						<ul class="twPc-Arrange">
							<li class="twPc-ArrangeSizeFit">
								<a href="https://twitter.com/{{user.screen_name}}" title="{{user.status_count}} Tweet" target="_blank">
									<span class="twPc-StatLabel twPc-block">Tweets</span>
									<span class="twPc-StatValue">{{user.status_count}}</span>
								</a>
							</li>
							<li class="twPc-ArrangeSizeFit">
								<a href="https://twitter.com/{{user.screen_name}}/following" title="{{user.friends_count}} Following" target="_blank">
									<span class="twPc-StatLabel twPc-block">Following</span>
									<span class="twPc-StatValue">{{user.friends_count}}</span>
								</a>
							</li>
							<li class="twPc-ArrangeSizeFit">
								<a href="https://twitter.com/{{user.screen_name}}/followers" title="{{user.followers_count}} Followers" target="_blank">
									<span class="twPc-StatLabel twPc-block">Followers</span>
									<span class="twPc-StatValue">{{user.followers_count}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>




			{% endfor %}


			</div>
		</div>
	</div>
</div>

{% endblock content%}