<h4>Search our Blog</h4>
<form>
	<div class="input-group">
		<input class="form-control input-md" id="appendedInputButtons" type="text">
		<span class="input-group-btn">
			<button class="btn btn-md" type="button">Search</button>
		</span>
	</div>
</form>
<h4>Recent Posts</h4>
<ul class="recent-posts">
	<li><a href="#">Lorem ipsum dolor sit amet</a></li>
	<li><a href="#">Sed sit amet metus sit</a></li>
	<li><a href="#">Nunc et diam volutpat tellus ultrices</a></li>
	<li><a href="#">Quisque sollicitudin cursus felis</a></li>
</ul>
<h4>Categories</h4>
<ul class="blog-categories">
	<li><a href="#">Lorem ipsum</a></li>
	<li><a href="#">Sed sit amet metus</a></li>
	<li><a href="#">Nunc et diam </a></li>
	<li><a href="#">Quisque</a></li>
</ul>
<h4>Archive</h4>
<ul>
	<li><a href="#">January 2013</a></li>
	<li><a href="#">February 2013</a></li>
	<li><a href="#">March 2013</a></li>
	<li><a href="#">April 2013</a></li>
	<li><a href="#">May 2013</a></li>
</ul>