<ul class="post-comments">
{% for comment in comments %}
	<li>
		<div class="comment-wrapper">
			<div class="comment-author"><img src="{{url_for('static', filename='img/user5.jpg')}}" alt="User Name"> {{comment.author_name }}</div>
			<p>{{comment.body }}</p>

			<!-- Comment Controls -->
			<div class="comment-actions">
				<span class="comment-date">Commented {{ moment(comment.publish_date).fromNow(refresh=True) }}</span>
			</div>
		</div>
	</li>
{% endfor %}
</ul>
<!-- Pagination -->
<div class="pagination-wrapper ">
	<ul class="pagination pagination-sm">
		<li class="disabled"><a href="#">Previous</a></li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">Next</a></li>
	</ul>
</div>