<div class="comment-form-wrapper">
	<form action="" method="post" role="form">
		{{ form.csrf_token }}

		<div class="form-group {% if form.name.errors %} has-error {% endif %}">
			<label for="{{ form.name.id }}"><i class="glyphicon glyphicon-user"></i> <b>{{ form.name.label }}</b></label>
			{{ form.name(class_="form-control") }}
		</div>
		<div class="form-group {% if form.email.errors %} has-error {% endif %}">
			<label for="{{ form.email.id }}"><i class="glyphicon glyphicon-user"></i> <b>{{ form.email.label }}</b></label>
			{{ form.email(class_="form-control") }}
		</div>
		<div class="form-group {% if form.body.errors %} has-error {% endif %}">
			<label for="{{ form.body.id }}"><i class="glyphicon glyphicon-user"></i> <b>{{ form.body.label }}</b></label>
			{{ form.body(class_="form-control") }}
		</div>
		<div class="checkbox">
			<label>
				{{ form.notify}} {{ form.notify.label }}
			</label>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-large pull-right">Send</button>
		</div>
		<div class="clearfix"></div>
	</form>
</div>