{% extends 'base.html' %}
{% import  "bootstrap/wtf.html" as wtf %}

{% block content%}

  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>The latest from ur Blog</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">

          <form action="" method="post"  class="form" role="form" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="form-group {% if form.title.errors %} has-error {% endif %} ">
                  <label for="{{ form.title.id }}"><i class="icon-user"></i> <b>{{form.title.label}}</b></label>
                  {{ form.title(class_="form-control") }}
                  {% if form.title.errors %}
                    <span class="help-block">{{ form.title.errors[0] }}</span>
                  {% endif %}
                </div>
                <div class="form-group {% if form.body.errors %} has-error {% endif %}">
                      <label for="{{ form.body.id }}"><i class="icon-lock"></i> <b>{{form.body.label}}</b></label>
                  {{ form.body(class_="form-control", cols="35", rows="20") }}
                  {% if form.body.errors %}
                    <span class="help-block">{{ form.body.errors[0] }}</span>
                  {% endif %}
                </div>
                <div class="form-group {% if form.video.errors %} has-error {% endif %} ">
                  <label for="{{ form.video.id }}"><i class="icon-user"></i> <b>{{form.video.label}}</b></label>
                  {{ form.video(class_="form-control") }}
                  {% if form.video.errors %}
                    <span class="help-block">{{ form.video.errors[0] }}</span>
                  {% endif %}
                </div>
                <div class="form-group {% if form.featured_image.errors %} has-error {% endif %} ">
                  <label for="{{ form.featured_image.id }}"><i class="icon-user"></i> <b>Featured Image</b></label>
                  {{ form.featured_image() }}
                  {% if form.featured_image.errors %}
                    <span class="help-block">{{ form.featured_image.errors[0] }}</span>
                  {% else %}
                     <p class="help-block">Featured Image for the blog post</p>
                  {% endif %}
                </div>
                <div class="checkbox">
                  <label>
                     {{ form.posted() }} {{form.posted.label}}
                  </label>
                </div>
                <div class="form-group">
                  {% if post %}
                      <button type="submit" class="btn pull-right">Update</button>
                    {% else %}
                        <button type="submit" class="btn pull-right">Submit</button>
                  {% endif %}

                  <div class="clearfix"></div>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content%}
{% block scripts %}
  {{pagedown.include_pagedown()}}
{% endblock scripts %}