{% extends 'base.html' %}

{% block content%}

<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="pull-left">The Latest from our blog</h1>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="container">
		<div class="row">
			<!-- Blog Post -->
			<div class="col-sm-9">
				<div class="blog-post blog-single-post">
					<div class="single-post-title">
						<h3>{{post.title}}</h3>
					</div>
					<div class="single-post-info">
						<i class="glyphicon glyphicon-time"></i>30 JAN, 2013
						<a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
						<a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>Edit</a>
					</div>

					<div class="single-post-image">
						<img src="{{url_for('static', filename='uploads')}}/{{post.featured_image}}" alt="Post Title">
					</div>

					<div class="single-post-content">
						{{post.body_html | safe}}
					</div>

					<!-- Comments -->
					<div class="post-coments">
						{% if comments %}
							<h4>Comments ({{post.comments.count()}})</h4>
							<!-- Comments & Pagination -->
							{% include "blog/_comments.html" %}
							<!-- End Comments & Pagination -->
						{% endif %}
						<!-- Comments Form -->
						<h4>Leave a Comment</h4>
						{% include "blog/_comment_form.html" %}
						<!-- End Comment Form -->
					</div>
				</div>
			</div>
			<!-- End Blog Post -->

			<!-- Sidebar -->
			<div class="col-sm-3 blog-sidebar">
				{% include "blog/_blog_sidebar.html" %}
			</div>
			<!-- End Sidebar -->

		</div>
	</div>
</div>


<!-- End Posts List -->

{% endblock content%}