<h2>Dear Admin</h2>

<h4>New Trends for this half hour</h4>
<table>
	<thead>
		<tr>
			<td>TRENDS</td>
		</tr>
	</thead>
	<tbody>
		{% for trend in trends %}
			<tr><td>{{trend}}</td></tr>
		{% endfor %}
	</tbody>
</table>