{% extends 'base.html' %}

{% block content%}
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Page Not Found...</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="error-page-wrapper">
					<p>Sorry, the page you are looking for is not here or never was...</p>
					<p>Why don't you try the <a href="/">Homepage</a>?</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content%}