{% extends 'base.html' %}

{% block content%}
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>"He’s dead, Jim,"...Something is totally wrong</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="error-page-wrapper">
					<p>Sorry, Something went wrong, our bots have been initialized to sort the issue...</p>
					<p>Meanwhile Why don't you try the <a href="/">Homepage</a>?</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content%}