<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Data Metrics {% block title%}{% endblock title%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/icomoon-social.css')}}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{url_for('static', filename='css/leaflet.css')}}" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/samphil.css')}}">

        <script src="{{url_for('static', filename='js/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>
        {% block css %}

        {% endblock css %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="mainmenu-wrapper">
            <div class="container">


        {% block mainmenu%}
                        <nav id="mainmenu" class="mainmenu">
                            <ul>
                                <li class="logo-wrapper">
                                    <a href="{{ url_for('main.index') }}">
                                        <h1>Data Metrics</h1>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('main.index') }}">Home</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('main.twitter') }}">Twitter Metrics</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('main.contact') }}">Contact</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('main.faq') }}">Faq(s)</a>
                                </li>
                            </ul>
                        </nav>
                    </div> <!-- END container-->
                </div> <!-- END mainmenu-wrapper-->

        {% endblock mainmenu%}


        {% block content%}

        {% endblock content%}


        {% block footer%}


        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-footer col-md-4 col-xs-12">
                        <h3>Why Data</h3>
                        <blockquote>
                            <p>Without data you are just another person with an opinion</p>
                            <footer>W. Edwards Deming</footer>
                        </blockquote>
                    </div>


                    <div class="col-footer col-md-4 col-xs-12">
                        <h3>Contacts</h3>
                        <p class="contact-us-details">
                            <b>Address:</b> 125382 30200 GPO, Nairobi, Kenya<br/>
                            <b>Phone:</b> +254 731 049 630<br/>
                            <b>Fax:</b> +254 731 049 630<br/>
                            <b>Email:</b> <a href="mailto:info@datametrics.com">info@datametrics.co.ke</a>
                        </p>
                    </div>
                    <div class="col-footer col-md-4 col-xs-12">
                        <h3>Stay Connected</h3>
                        <ul class="footer-stay-connected no-list-style">
                            <li><a href="#" class="facebook"></a></li>
                            <li><a href="https://twitter.com/DataMetricsKE" class="twitter" target="_blank"></a></li>
                            <!-- <li><a href="#" class="googleplus"></a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-copyright">&copy; 2016 Data Metrics. All rights reserved.</div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock footer%}

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='js/jquery-1.9.1.min.js')}}"><\/script>')</script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="{{url_for('static', filename='js/jquery.fitvids.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.sequence-min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.bxslider.js')}}"></script>
        <script src="{{url_for('static', filename='js/main-menu.js')}}"></script>
        <script src="{{url_for('static', filename='js/template.js')}}"></script>
        <script src="{{url_for('static', filename='js/samphil.js')}}"></script>
        {{ moment.include_moment() }}

        {% block scripts %}

        {% endblock scripts %}

    </body>
</html>